name: Terraform Destroy - DEV

on:
  workflow_dispatch:

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_REGION: ${{ secrets.AWS_REGION }}

jobs:

  approval:
    name: Manual Approval
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - run: echo "Approved for DEV destroy"

  destroy:
    name: Terraform DESTROY
    runs-on: ubuntu-latest
    needs: approval
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3

      - run: terraform init
        working-directory: envs/dev

      - run: terraform destroy -auto-approve
        working-directory: envs/dev
